<h2 mat-dialog-title>Detalle del Producto</h2>

<mat-dialog-content class="contenido-modal">
  <p><strong>Nombre:</strong> {{ producto.nombre }}</p>
  <p><strong>Descripción:</strong> {{ producto.descripcion }}</p>
  <p><strong>Rubro:</strong> {{ producto.rubro }}</p>
  <p><strong>Subrubro:</strong> {{ producto.subrubro }}</p>
  <p><strong>Marca:</strong> {{ producto.marca }}</p>
  <p><strong>Precio:</strong> ${{ producto.precio }}</p>
  <p><strong>Stock:</strong> {{ producto.stock }}</p>
  <p><strong>Destacado:</strong> {{ producto.destacado ? 'Sí' : 'No' }}</p>
  <p><strong>Oferta:</strong> {{ producto.oferta ? 'Sí' : 'No' }}</p>
  <p *ngIf="producto.oferta"><strong>Precio Oferta:</strong> ${{ producto.precioOferta }}</p>
  <p><strong>Impuesto Nacional:</strong> {{ producto.impuestoNacional ? 'Sí' : 'No' }}</p>
  <p *ngIf="producto.impuestoNacional"><strong>Precio sin Impuesto Nacional:</strong> ${{ producto.precioSinImpuestoNacional }}</p>

  <div *ngIf="producto.imagen" class="product-img">
    <p><strong>Imagen:</strong></p>
    <img [src]="producto.imagen" alt="Imagen del producto" style="max-width: 100%; height: auto;">
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
