<div class="container mt-5">
    <div>
        <h2 class="mb-4 titulo">RUBROS</h2>
        <div class="grid-productos">
            <div class="item" *ngFor="let item of rubrosConSubrubros" (mouseenter)="mostrarSubrubros(item)"
                (mouseleave)="ocultarSubrubros()">
                <h5>{{ item.rubro }}</h5>

                <div class="submenu" *ngIf="item === rubroActivo">
                    <button *ngFor="let sub of item.subrubros" (click)="filtrarPorSubrubro(item.rubro, sub)">
                        {{ sub }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>