<div *ngIf="mediaItems.length > 0; else sinImagenes" id="bannerCarousel"
  class="carousel slide banner-container container" data-bs-ride="carousel" data-bs-interval="3000"
  data-bs-pause="false">
  <div class="carousel-inner banner">
    <div class="carousel-item position-relative" *ngFor="let img of mediaItems; let i = index" [class.active]="i === 0">

      <ng-container *ngIf="img.tipo === 'imagen'; else videoTemplate">
        <img [src]="img.url" class="d-block w-100" alt="Banner" />
      </ng-container>

      <ng-template #videoTemplate>
        <video [src]="img.url" autoplay muted loop playsinline preload="auto"
          style="width: 100%; max-height: 400px; object-fit: contain;"></video>

      </ng-template>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    <span class="visually-hidden">Anterior</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>

<ng-template #sinImagenes>
  <p class="text-center mt-3">No hay imágenes disponibles para el banner.</p>
</ng-template>