<div class="card item-card shadow-sm position-relative">
  <!-- Banda "Sin stock" en diagonal -->
  <div *ngIf="producto.stock === 0" class="stock-banner">
    SIN STOCK
  </div>

  <!-- Descuento arriba a la izquierda -->
  <div *ngIf="producto.oferta" class="badge bg-purple discount-badge">
    -{{ calcularDescuento(producto) }}%
  </div>

  <!-- Logo arriba a la derecha -->
  <div class="logo-container">
    <img src="../../../../../assets/LogoDolzani.png" class="logo-ecommerce" alt="logo" />
  </div>

  <!-- Imagen del producto -->
  <div class="image-wrapper">
    <img [src]="producto.imagen" class="product-img" alt="{{ producto.nombre }}" />
  </div>

  <div class="card-body text-center fondo-card">
    <h5 class="card-title fw-bold" style="min-height: 3rem;">{{ producto.nombre }}</h5>

    <div class="d-flex justify-content-center align-items-baseline gap-2 mb-2" *ngIf="producto.oferta">
      <span class="text-muted text-decoration-line-through">Antes ${{ producto.precio }}</span>
      <span class="fs-4 fw-bold text-dark">${{ producto.precioOferta }}</span>
    </div>
    <p *ngIf="!producto.oferta" class="fs-4 fw-bold text-dark text-center">
      ${{ producto.precio }}
    </p>

    <p class="text-muted fw-normal fst-italic" style="font-size: 0.75rem;"
      [style.visibility]="producto.impuestoNacional ? 'visible' : 'hidden'">
      Precio s/imp. nacionales: ${{ producto.precioSinImpuestoNacional }}
    </p>

    <button mat-raised-button class="botonesRojos" [disabled]="loadingCarrito[producto.id] || producto.stock === 0"
      (click)="agregarCarrito(producto)">
      <ng-container *ngIf="!loadingCarrito[producto.id]; else loading">
        Agregar al carrito
      </ng-container>
      <ng-template #loading>
        <mat-spinner diameter="20" strokeWidth="3"></mat-spinner>
      </ng-template>
    </button>


  </div>
</div>