.item-card {
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  padding-top: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}


.discount-badge {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  background-color: #6f2da8; /* púrpura */
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  font-size: 0.8rem;
}

.product-img {
  display: block;
  margin: 1rem auto;
  max-height: 120px;
  object-fit: contain;
}

.card-body {
  padding: 1rem;

  min-height: 220px; /* Ajustá según lo que necesites */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.logo-container {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ec133e; /* o el color que quieras */
  border-bottom-left-radius: 2rem;
  padding: 0.75rem;
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

.logo-ecommerce {
  height: 70px; /* aumentá el tamaño */
  max-width: 100%;
  object-fit: contain;
}

.fondo-card{
  background-color: rgb(228, 228, 228);
}

.fondo-card button{
  background-color: red;
  color: white;
}
