<nav class="navbar">
  <!-- Logo a la izquierda -->
  <div class="navbar-left">
    <img src="../../../../assets/logo-ecommerce.png" alt="Logo" class="logo" />
  </div>

  <!-- Links al centro -->
  <nav [@navbarFadeSlide]>
    <ul class="navbar-center">
      <li><a routerLink="/inicio" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="/nosotros" routerLinkActive="active">Nosotros</a></li>
      <li><a routerLink="/contacto" routerLinkActive="active">Contacto</a></li>
      <li *ngIf="usrAdmin"><a routerLink="/gestiones" routerLinkActive="active">Gestiones</a></li>
    </ul>
  </nav>

  <!-- Iconos a la derecha -->
  <div class="navbar-right">
    <button *ngIf="!usuarioLogueado" (click)="openIngreso()">Login</button>
    <button *ngIf="usuarioLogueado" (click)="closeSesion()">Logout</button>
    <button (click)="openRegistro()">Registrarse</button>
    <button>Carrito</button>
  </div>
</nav>
