.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #034f70;
  color: white;
}

.navbar-left img.logo {
  height: 40px;
}

.navbar-center {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar-center li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar-right button {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 1rem;
}
