<h2 mat-dialog-title>Alta de Producto</h2>

<mat-dialog-content [formGroup]="productoForm" class="form-dialog-content">

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre" required />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Descripción</mat-label>
    <textarea matInput formControlName="descripcion" required></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Rubro</mat-label>
    <input matInput type="text" formControlName="rubro" [matAutocomplete]="autoRubro" />

    <mat-autocomplete #autoRubro="matAutocomplete">
      <mat-option *ngFor="let rubro of rubrosFiltrados" [value]="rubro">
        {{ rubro }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>


<mat-form-field appearance="outline" class="w-100">
  <mat-label>Subrubro</mat-label>
  <input
    matInput
    type="text"
    formControlName="subrubro"
    [matAutocomplete]="autoSubrubro" />
  <mat-autocomplete #autoSubrubro="matAutocomplete">
    <mat-option
      *ngFor="let sub of subrubrosFiltrados"
      [value]="sub">
      {{ sub }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

  <mat-form-field>
    <mat-label>Marca</mat-label>
    <input matInput type="text" formControlName="marca" [matAutocomplete]="autoMarca" />

    <mat-autocomplete #autoMarca="matAutocomplete">
      <mat-option *ngFor="let marca of marcasFiltradas" [value]="marca">
        {{ marca }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Precio</mat-label>
    <input matInput type="text" formControlName="precio" (input)="limpiarCerosIzquierda('precio')" (keypress)="permitirSoloNumeros($event)" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Stock</mat-label>
    <input matInput type="text" formControlName="stock" (input)="limpiarCerosIzquierda('stock')" (keypress)="permitirSoloNumeros($event)" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Imagen (URL)</mat-label>
    <input matInput formControlName="imagen" />
  </mat-form-field>

  <mat-checkbox formControlName="destacado">Producto Destacado</mat-checkbox>

  <mat-checkbox formControlName="oferta">¿Está en oferta?</mat-checkbox>

  <mat-form-field appearance="fill" class="full-width" *ngIf="productoForm.get('oferta')?.value">
    <mat-label>Precio Oferta</mat-label>
    <input matInput type="text" formControlName="precioOferta" (input)="limpiarCerosIzquierda('precioOferta')" (keypress)="permitirSoloNumeros($event)"/>
  </mat-form-field>

  <mat-checkbox formControlName="impuestoNacional">¿Aplica impuesto nacional?</mat-checkbox>

  <mat-form-field appearance="fill" class="full-width" *ngIf="productoForm.get('impuestoNacional')?.value">
    <mat-label>Precio sin Impuesto Nacional</mat-label>
    <input matInput type="text" formControlName="precioImpuestoNacional" (input)="limpiarCerosIzquierda('precioImpuestoNacional')" (keypress)="permitirSoloNumeros($event)"/>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="productoForm.invalid">
    Guardar
  </button>
</mat-dialog-actions>
