<div class="container mt-5">

  <div class="tabla-container">
    <div class="button-container">
      <button mat-raised-button color="primary" (click)="abrirModalAltaProducto()">Nuevo</button>
    </div>
    <table mat-table [dataSource]="productos" class="mat-elevation-z8" style="width: 100%;">
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let producto"> {{producto.nombre}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="descripcion">
        <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
        <mat-cell *matCellDef="let producto"> {{producto.descripcion}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="precio">
        <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
        <mat-cell *matCellDef="let producto"> {{producto.precio | currency}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="stock">
        <mat-header-cell *matHeaderCellDef> Stock </mat-header-cell>
        <mat-cell *matCellDef="let producto"> {{producto.stock }} </mat-cell>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let producto">
          <button mat-icon-button color="primary" (click)="verProducto(producto)">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="editarProducto(producto)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="openConfirmDialog(producto)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
  </div>
</div>
  
