<div class="container mt-5">
  <div class="tabla-container">
    <div class="button-container">
      <button mat-raised-button class="boton-nuevo" (click)="abrirModalAltaProducto()">Nuevo</button>
    </div>
    <!-- <input class="search-input" (keyup)="applyFilter($event,dataSource)" placeholder="Búsqueda Cliente" #input> -->
    <table mat-table [dataSource]="datasourceProductos" class="mat-elevation-z8" style="width: 100%;">
      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef class="cabecera"> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <!-- Razon Social Column -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef class="cabecera"> Descripción </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
      </ng-container>

      <!-- Estado -->
      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef class="cabecera"> Precio </th>
        <td mat-cell *matCellDef="let element"> {{element.precio | currency}} </td>
      </ng-container>

      <!-- Stock -->
      <ng-container matColumnDef="stock">
        <th mat-header-cell *matHeaderCellDef class="cabecera"> Stock </th>
        <td mat-cell *matCellDef="let element"> {{element.stock }} </td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef class="cabecera"> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <a class="pointer" title="Ver cliente" (click)="verProducto(element)">
            <i class="fa-solid fa-eye"></i>
          </a>
          <a class="pointer" title="Editar cliente" (click)="editarProducto(element)">
            <i class="fa-solid fa-pen"></i>
          </a>
          <a class="pointer" title="Eliminar cliente" (click)="openConfirmDialog(element)">
            <i class="fa-solid fa-trash"></i>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <div class="paginator-container">
      <mat-paginator #paginatorPendientes [pageSizeOptions]="[5, 10, 15]" [pageSize]="10" showFirstLastButtons
        aria-label="Select page of productos">
      </mat-paginator>
    </div>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="totalClientes" [pageSize]="10" showFirstLastButtons
      (page)="onPageChange($event)" aria-label="Select page of periodic elements">
    </mat-paginator> -->
  </div>
</div>