.footer-contenedor {
    padding-bottom: 50px; 
}

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%; 
    text-align: center;
    font-size: 15px;
    background-color:#ec133e;
    color: white;
    padding: 0.1rem;
}


.footer img {
    max-height: 45px; 
    max-width: 45px;
     margin-bottom: 0.14%; 
}