<h2 mat-dialog-title>Editar Cliente</h2>

<mat-dialog-content [formGroup]="formCliente" class="contenido-modal">
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre">
      </mat-form-field>
      

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Apellido</mat-label>
    <input matInput formControlName="apellido">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Razón Social</mat-label>
    <input matInput formControlName="razonSocial">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Dirección</mat-label>
    <input matInput formControlName="direccion">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Teléfono</mat-label>
    <input matInput formControlName="telefono">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Mail</mat-label>
    <input matInput type="email" formControlName="mail">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Usuario</mat-label>
    <input matInput formControlName="usuario">
  </mat-form-field>

  <mat-slide-toggle formControlName="estado">Activo</mat-slide-toggle>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
</mat-dialog-actions>